.form {
  position: relative;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  margin-bottom: 0.5rem;
}

.control input,
.control textarea {
  font: inherit;
  padding: 0.35rem;
  border-radius: 4px;
  background-color: #f0f0f0;
  border: 1px solid #c1d1d1;
  display: block;
  width: 100%;
  font-size: 1.25rem;
}

.control input:focus,
.control textarea:focus {
  background-color: #cbf8f8;
  outline-color: teal;
}

.logicControl {
  display: flex;
}

.signal {
  display: flex;
  flex-direction: column;
}

.signal * {
  margin: 0.25rem 1rem 0.5rem 0;
  height: 1.5rem;
  font-size: 1rem;
}

.signal input {
  width: 15rem;
}

.actions {
  text-align: right;
}

.actions button {
  margin: 0.5rem 0 0 1rem;
  padding: 0.75rem;
  width: 20%;
  font-size: 1.25rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
}

.cancel {
  background-color: rgb(235, 42, 42);
}

.action {
  background-color: rgb(37, 217, 37);
}
