.form {
  position: relative;
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.control input,
.control textarea {
  font: inherit;
  padding: 0.35rem;
  border-radius: 4px;
  background-color: #f0f0f0;
  border: 1px solid #c1d1d1;
  display: block;
  width: 100%;
  font-size: 1.25rem;
}

.control input:focus,
.control textarea:focus {
  background-color: #cbf8f8;
  outline-color: teal;
}

.logicControl {
  display: flex;
}

.signal {
  display: flex;
  flex-direction: column;
}

.signal * {
  margin: 0.25rem 1rem 0.5rem 0;
  height: 1.5rem;
  font-size: 1rem;
}

.signal input {
  width: 15rem;
}

.actions {
  text-align: right;
}

.actions button {
  margin: 0.5rem 0 0 1rem;
  padding: 0.75rem;
  width: 20%;
  white-space: nowrap;
  font-size: 1.25rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
}

.cancel {
  background-color: rgb(235, 42, 42);
}

.add {
  background-color: rgb(37, 217, 37);
}
