.buttons {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1rem;
}

.buttons button {
  margin: 1rem 1.5rem 0 0;
  width: 6.25rem;
  border-radius: 0.5rem;
  color: white;
  height: 3rem;
  font-size: 1.25rem;
}

.buttons button:hover {
  cursor: pointer;
}

.edit {
  border: rgb(39, 39, 194);
  background-color: rgb(39, 39, 194);
}

.delete {
  background-color: rgb(205, 31, 31);
  border: rgb(205, 31, 31);
}
