.title,
.algorithm,
.description {
  padding: 0.25rem 0 0 2.5rem;
}

.algorithm {
  margin: 0;
}

.buy {
  margin-top: 0.5rem;
  color: rgb(237, 13, 13);
}

.sell {
  color: rgb(11, 11, 227);
}

.hr hr {
  margin-right: 1.5rem;
  border: 1.25px dashed black;
}
