h1,
h2,
h3 {
  padding: 0.25rem 0 0 2.5rem;
}

.buy {
  color: rgb(237, 13, 13);
}

.sell {
  color: rgb(11, 11, 227);
}

.hr {
  margin: 2rem 1.75rem 0 0;
}

.hr hr {
  border: 1.25px dashed black;
}
