.form {
  max-width: 25rem;
  margin: 0 auto;
}

.control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control label {
  margin: 1rem;
  white-space: nowrap;
  color: #353336;
  display: block;
}

.invalid {
  border: 2px solid red;
}

.control input {
  margin-bottom: 1rem;
  display: block;
  font: inherit;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: #f7f0fa;
}

.action {
  margin-top: 3rem;
}

.action button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  background-color: #49eb82;
  color: rgb(60, 52, 52);
}

.action button:hover {
  background-color: #19a134;
  color: rgb(255, 255, 255);
}
