.profile {
  padding: 2rem;
  margin: 10rem auto;
  text-align: center;
  border: 2px solid rgba(17, 132, 90, 0.868);
  border-radius: 2rem;
}

.profile h1 {
  margin-bottom: 5rem;
  font-size: 3rem;
}
