.hr {
  margin-right: 2.5rem;
}

.title {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0;
}

.title p {
  border: 1px solid black;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin: 0.25rem 1rem;
}
