.result {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.info {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buyPrice {
  color: red;
}

.sellPrice {
  color: blue;
}
