hr {
  margin: 2rem 1rem 0 1rem;
  border: dashed;
}

li {
  margin-bottom: 0.75rem;
}

.result {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.result p {
  border: 1px solid black;
  padding: 0.5rem 1rem;
  margin: 0.25rem 1rem;
}

.buyPrice {
  color: red;
}

.sellPrice {
  color: blue;
}

.profit {
  display: flex;
  flex-direction: column;
}
