.form {
  margin-top: 0.5rem;
}

.select {
  background-color: transparent;
  padding: 0.25rem 1.25rem 0.25rem 1rem;
  margin: 0 1rem;
  height: 3rem;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

.trade {
  text-decoration: none;
  background-color: teal;
  font-size: 1rem;
  color: white;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  border: 1px solid teal;
  cursor: pointer;
}

.trade:hover,
.trade:active {
  background-color: #11acac;
  border-color: #11acac;
}
