.current {
  padding: 1rem 0.5rem 1rem 0;
  text-align: right;
  margin: 0;
}

.container {
  display: flex;
}

.history {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history .title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.history li {
  margin: 0.75rem 0;
}
