.current {
  padding: 1rem 0.5rem 1rem 0;
  text-align: right;
  margin: 0;
}

.wrapper {
  display: flex;
}

.history {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
