.nav {
  margin: 2.5rem 0;
}

.ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 0;
}

.ul li {
  padding-top: 0.5rem;
}

.ul button {
  border: none;
  background-color: #e7f8f8;
  padding: 1.25rem 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.ul button:hover {
  border-radius: 0.5rem;
  background-color: rgba(162, 232, 232, 0.623);
}
