.ul {
  display: flex;
  justify-content: space-around;
}

.ul button {
  white-space: nowrap;
  border: none;
  background-color: #e7f8f8;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
}

.ul button:hover {
  background-color: rgba(192, 236, 236, 0.623);
  font-weight: bold;
}
