.footer {
  display: flex;
  flex-direction: column;
}

.links {
  display: flex;
  justify-content: center;
}

.links li {
  margin: 0 0.75rem;
  font-size: 1.75rem;
}

.twitter,
.github {
  color: rgb(126, 122, 122);
}

.twitter:hover {
  color: rgb(29, 161, 242);
}

.github:hover {
  color: rgb(17, 17, 17);
}

.copyright {
  text-align: center;
  margin-bottom: 1.5rem;
}
