.footer {
  display: flex;
  flex-direction: column;
}

.links {
  display: flex;
  justify-content: center;
}

.links li {
  margin: 0 0.75rem;
}

.links li * {
  font-size: 1.25rem;
}

.twitter {
  color: rgb(29, 161, 242);
}

.github {
  color: black;
}

.copyright {
  text-align: center;
  margin-bottom: 1.5rem;
}
