.header {
  width: 100%;
  height: 6.5rem;
  display: flex;
  padding: 0 3%;
  justify-content: space-between;
  align-items: center;
  background-color: #008080;
}

.link {
  text-decoration: none;
}

.logo {
  font-size: 2rem;
  color: white;
}

.icon {
  display: none;
}

@media screen and (max-width: 1000px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    height: 9rem;
  }

  .logo {
    margin: 1rem 0 0.5rem 0;
  }

  .icon {
    position: sticky;
    bottom: 1010px;
    left: 450px;
  }
}

@media screen and (max-width: 1100px) {
  .header {
    justify-content: flex-start;
  }

  .logo {
    margin-right: 5rem;
  }

  .icon {
    display: block;
    margin-left: calc(30% - 6rem);
    font-size: 1.5rem;
    color: rgb(141, 235, 208);
  }
}
