.nav ul {
  display: flex;
}

.nav li {
  margin: 0.5rem;
}

.nav a {
  text-decoration: none;
  color: #88dfdf;
}

.nav a:hover,
.nav a.active {
  color: #e6fcfc;
}

.navLink {
  font-size: 1.25rem;
  font-weight: bold;
}

.logout {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid white;
}

.smallNav {
  animation: openNav 0.25s ease-out;
}

.smallNav > * {
  padding: 0;
  margin: 0;
}

.smallNav li {
  background-color: rgba(0, 128, 128, 0.246);
  display: flex;
  justify-content: center;
  border: 1px solid rgba(3, 46, 19, 0.698);
  padding: 1.5rem;
}

.smallNav a {
  color: rgb(80, 84, 78);
  text-decoration: none;
}

.smallNav a:hover,
.smallNav a.active {
  color: #000000;
}

@media screen and (min-width: 1100px) {
  .smallNav {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .nav {
    display: none;
  }

  .logout {
    padding: 0;
    border-radius: 0;
    border: none;
  }
}

@keyframes openNav {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
