* {
  box-sizing: border-box;
}

html,
body,
#root {
  font-family: sans-serif;
  margin: 0;
  background-color: #e7f8f8;
  height: 100%;
}

li {
  list-style: none;
}

label {
  font-weight: bold;
}

.btn {
  text-decoration: none;
  background-color: teal;
  color: white;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  border: 1px solid teal;
  cursor: pointer;
}

.btn:hover,
.btn:active,
.linkButton:hover,
.linkButton:active {
  background-color: #11acac;
  border-color: #11acac;
}

.linkButton {
  text-decoration: none;
  background-color: teal;
  color: white;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  border: 1px solid teal;
  cursor: pointer;
  width: 30%;
}

.centered {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.float--right {
  float: right;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no--wrap {
  white-space: nowrap;
}

.bold {
  font-weight: bold;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

hr {
  margin-left: 2.4rem;
  border: 1px solid rgb(148, 145, 145);
}
