.auth {
  margin: 10rem auto;
  width: 100%;
  max-width: 30rem;
  border-radius: 0.5rem;
  background-color: #11b550c1;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
}

.auth h1 {
  text-align: center;
  color: white;
  margin-bottom: 2.5rem;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.control input {
  font: inherit;
  font-size: 1.25rem;
  background-color: #f1e1fc;
  color: black;
  border-radius: 0.25rem;
  border: 1px solid white;
  width: 90%;
  text-align: left;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.actions {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #0e7655;
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem 2.5rem;
  font-size: 1.25rem;
}

.actions button:hover {
  background-color: #1b916b;
  border: none;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #0d6649;
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: #c96c52;
}
