.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.9);
}

.modal {
  position: fixed;
  top: 35vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  background: rgba(235, 230, 230, 0.9);
  animation: openModal 0.75s ease-out;
}

.ModalClosed {
  animation: closeModal 0.75s ease-out;
}

.header {
  background: #951e1e;
  padding: 1rem;
}

.header h2 {
  margin: 0 0 0 0.5rem;
  color: white;
}

.content {
  padding: 0.25rem 1.5rem;
  font-size: 1.5rem;
}

.actions {
  padding: 0 1rem;
  display: flex;
  justify-content: flex-end;
}

.actions button {
  margin: 0 1rem;
  font-size: 1.25rem;
}

.no {
  text-decoration: none;
  background-color: rgb(164, 10, 10);
  color: white;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  border: 1px solid teal;
  cursor: pointer;
}

.no:hover,
.no:active {
  background-color: rgb(203, 76, 53);
  border-color: rgb(203, 76, 53);
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}

@keyframes openModal {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 1;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes closeModal {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  50% {
    opacity: 0.8;
    transform: translateY(60%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
